/* Global Rules  ------------------------------------------------------------------------------------------------------------------------------- */

.hidden {
display: none;
}

body,
html {
font-family: 'Josefin Slab';font-size: 18px;
color: rgba(80, 80, 80, 1);
line-height: 1;
}

#wrapper {
width: 382px;
padding: 15px;
height: 8000px;
margin: 0px auto;
border-radius: 30px;
border: 15px solid rgba(80, 80, 80, 1);
/*display: grid;
grid-template-columns: repeat(4, 1fr);
 */
}

/* Header Rules -------------------------------------------------------------------------------------------------------------------------*/

.menu-icon { 
width: 30px;
height: 23px; 
display: flex; 
flex-direction: column; 
justify-content: space-between;
cursor: pointer; 
margin-left: 10px; 
margin-top: 10px;
}

.line {
height: 4px; 
background-color: rgba(154, 32, 24, 1);
} 
    
nav { 
text-align: left;
padding-left: 20px;
} 

nav ul { 
list-style-type: none; 
padding: 0; 
}

nav ul li { 
padding: 12px 0; 
border-bottom: 2px solid rgba(154, 32, 24, 1);
width: 95%;
} 
      
nav ul li a { 
color: rgba(80, 80, 80, 1);
text-decoration: none; 
font-size: 20px; 
font-weight:bolder;
}

#cr-style { 
display: flex; 
align-items: center; 
justify-content: space-between;
}

#logo {
padding-left: 10px;
width: 80px;
}

h1 {
font-family: "Josefin Sans", sans-serif;
font-size: 38px;
padding-top: 12px;
padding-right: 10px;
}

/* Main Rules -------------------------------------------------------------------------------------------------------------------------*/

.image {
  padding-top: 20px;
  width: 412px;
  height: 230px;
  
}

