/* Global Rules  ------------------------------------------------------------------------------------------------------------------------------- */
/*
.hidden {
  display: none;
}

body,
html {
  font-family: "Josefin Sans", sans-serif;
  color: rgba(80, 80, 80, 1);
  line-height: 1;
}

#wrapper {
  width: 412px;
  margin: 0px auto;
  margin-bottom: 0px;
}*/

/* Header Rules -------------------------------------------------------------------------------------------------------------------------*/


/* Main Rules -------------------------------------------------------------------------------------------------------------------------*/

